.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 60px;
}

footer p {
  margin: 10px 0;
}

footer small {
  color: #aaa;
}
